.sidebar {
	position: relative;
    display: block;
    float: right;
	width: 30%;
    top: -100px;
	padding: 25px;

    background-color: #90ccdb;
    margin-left: 40px;

    a {
        color: #324b88;
    }

    .block {
        margin-bottom: 15px;
    }

    .allContacts {
        font-weight: bold;
    }
}

.openingHours {
    display: flex;
    div {
        margin-right: 25px;
    }

    div:nth-child(2) {
        width: 80px;
    }
}