.sidebar {
  position: relative;
  display: block;
  float: right;
  width: 30%;
  top: -100px;
  padding: 25px;
  
  background-color: #90ccdb;
  margin-left: 40px;
  margin-bottom: -75px;

  a {
    color: #324b88;
  }

  .block {
    margin-bottom: 15px;
  }

  .allContacts {
    font-weight: bold;
  }
}

.openingHours {
  display: flex;
  div {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 960px) {
  .sidebar {
    position: static;
    top: 0;
    float: none;
    margin: 0;
    width: 100%;
    order: 5;
  }
}
