.teamMember {
    display: flex;

    img {
        width: 50px;
        height: 70px;
    }

    .description {
        display: block;
        margin-left: 25px;
    }

    a {
        color: black;
    }
}