.teamMember {
  display: flex;
  height: 80px;

  .imgContainer {
    width: 50px;
    height: 70px;
    overflow: hidden;
  }

  .description {
    display: block;
    margin-left: 25px;
  }

  a {
    color: black;
  }
}
